<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xi="http://www.w3.org/2001/XInclude"
               status="WARN" name="arya-admin"
               xmlns="http://logging.apache.org/log4j/2.0/config">
    <Properties>
        <Property name="app_name">swiftboot-web</Property>
    </Properties>

    <xi:include href="log4j2-appenders.xml"/>
    <xi:include href="log4j2-loggers.xml"/>

</Configuration>